@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); opacity: 0;}
}
@keyframes slideOutRight {
	to 		{ transform: translateX(100%); opacity: 0;}
}
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@keyframes slideInLeft {
	from 	{ transform:translateX(-100%); }
	to 		{ transform: translateX(0); }
}
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@keyframes fadeIn {
  from  { opacity: 0; }
  to    { opacity: 1; }
}
@keyframes fadeOut {
  from  { opacity: 1; }
  to    { opacity: 0; }
}
