/***************************
 ********* BUTTONS *********
 **************************/
.btn, [class*='btn-'] {
  background-color: $btn-gray;
  border: 1px solid darken($btn-gray, $btn-hover-darken);
  color: $font-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1em; 
  font-weight: 300;
  margin: 0;
  padding: 8px 25.6px;
  text-decoration: none;
  text-align: center;
  transition: background .3s ease-out;
  user-select: none;
  vertical-align: middle;

  &:hover{
    background-color: darken($btn-gray, $btn-hover-darken);
  }
  &:focus {
    outline: none;
  }
}

.btn[disabled], .btn.disabled, [class*='btn-'][disabled], .disabled[class*='btn-']{
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

.btn-red{
  color: $font-color-light;
  background: $btn-red;
  border-color: darken($btn-red, $btn-hover-darken);
  &:hover{
    background: darken($btn-red, $btn-hover-darken);
  }
}

.btn-green{
  color: $font-color-light;
  background: $btn-green;
  border-color: darken($btn-green, $btn-hover-darken);
  &:hover{
    background: darken($btn-green, $btn-hover-darken);
  }
}

.btn-turquoise{
  color: $font-color-light;
  background: $btn-turquoise;
  border-color: darken($btn-turquoise, $btn-hover-darken);
  &:hover{
    background: darken($btn-turquoise, $btn-hover-darken);
  }
}

.btn-orange{
  color: $font-color-light;
  background:$btn-orange;
  border-color: darken($btn-orange, $btn-hover-darken);
  &:hover{
    background: darken($btn-orange, $btn-hover-darken);
  }
}

.btn-purple{
  color: $font-color-light;
  background: $btn-purple;
  border-color: darken($btn-purple, $btn-hover-darken);
  &:hover{
    background: darken($btn-purple, $btn-hover-darken);
  }
}

.btn-blue{
  color: $font-color-light;
  background: $btn-blue;
  border-color: darken($btn-blue, $btn-hover-darken);
  &:hover{
    background: darken($btn-blue, $btn-hover-darken);
  }
}

.btn-yellow{
  color: $font-color-light;
  background: $btn-yellow;
  border-color: darken($btn-yellow, $btn-hover-darken);
  &:hover{
    background: darken($btn-yellow, $btn-hover-darken);
  }
}
.btn-rounded {
  border-radius: 3px;
}

.btn-pill {
  border-radius: 50px;
}

.btn-large {
  font-size: 1.5em;
}
.btn-small {
  font-size: .8em;
}
.btn-tiny {
  font-size: .6em;
}
.wrap-btn {
  background: #e3e3e3;
  background: linear-gradient(to bottom, #e3e3e3 0%,#f2f2f2 100%);
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04) inset;
  display: inline-block;
  padding: 10px;

  &.small{
    padding: 5px;
  }
  &.small .btn-circle{
    border-width: 2px;
    font-size: .6em;
    height: 60px;
    padding: 2px; // same as border-width
    width: 60px;
  }
  &.small a.btn-circle{
    line-height: 6;
  }
}
.btn-circle {
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
  height: 120px;
  padding: 4px; // same as border-width
  border-width: 4px;
  font-size: 1.125em;
}
a.btn-circle{
  line-height: 6.8;
  padding: 0;
}
.badge{
  background-color:#d60000;
  border: 2px solid $font-color-light;
  border-radius:15px;
  box-shadow:0 2px 2px rgba(0,0,0,0.4);
  color: $font-color-light;
  display: block;
  font-size: .8em;
  font-weight: 600;
  height: auto;
  line-height:1;
  min-width: 2em;
  padding: .2rem;
  position:absolute;
  right: -.8rem;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0,0,0,0.2);
  top:-7px;
  visibility:visible;
  width:auto;
  z-index:2;
}

.btn-next, .btn-prev {
    padding-right: 30px;
    position: relative;

    &:after, &:before {
      color: darken($btn-gray, 15%);
      font-family: Arial,sans-serif;
      font-size: 2em;
      font-weight: 900;
      position: absolute;
      top: -2px;

      &:hover{
        color: darken($btn-gray, 25%);
      }
  }

}
.btn-next{
  &:after{
    content: "›";
    right: 10px;
  }
}

.btn-prev{
  &:before {
    content: "‹";
    left: 10px;
  }
}

.button-group{
  padding: 10px 0;
}
.btn-link{
  background: transparent;
  border: 1px solid transparent;
  color: #4082a0;
  margin: 7px 23px;
  padding: 2px;
  transition: border .3s ease-out 0s;

  &:hover{
    background: transparent;
    border-bottom: 1px solid #4082a0;
  }
}