/*
 * Set base font
 */
 html{
  font-size: 16px;
}
html, body, .full-screen{
  height: 100%;
}
body, input, textarea, select{
  color:  $font-color;
  font: 1em "Open Sans",Helvetica,Arial,sans-serif;
}
::placeholder{
    color:#666;
    font-style: italic;
}
a{
  background:transparent;
  border: 1px solid transparent;
  color: #4082A0;
  cursor: pointer;
  text-decoration: none;
  vertical-align:baseline;
  transition: all .3s ease;
}
p a:hover{
  border-bottom: 1px solid #4082A0;
}
img{
  max-width: 100%;
}
p{
  padding-bottom: 15px;
}
ol{
  margin-left: 18px;
  padding-bottom: 15px;
}
ul{
  list-style: none;
}
h1 {
    font-size: 2.4em;
    font-weight: lighter;
    padding: 0 0 25px;
    text-shadow: 1px 1px #999;
}
h2 {
    font-size: 1.8em;
    font-weight: 300;
    padding: 0 0 15px;
}
h3{
  font-size: 1.4em;
  font-weight: 300;
  padding: 0 0 15px;
}
h4{
  font-size: 1.2em;
  font-weight: 300;
  padding: 0 0 15px;
}
h5{
  font-size: 1.1em;
  font-weight: 300;
  padding: 0 0 15px;
}
h6{
  font-size: 1.0em;
  font-weight: 300;
  padding: 0 0 15px;
}