.field{
  padding: 4px 0;
  position: relative;

  @extend .clearfix;

  label{
    cursor: pointer;
    display: block;
    float: left;
    padding: 4px 0;
    width: 220px;
  }
  input, textarea{
    border: 1px solid #cecece;
    margin: 0;
    padding: 4px;
    width: 220px;
    &[type=radio], &[type=checkbox]{
      width: auto;
    }

    &[type=radio], &[type=checkbox],&[type=range]{
      border:none;
    }
    &:empty{
      border: 1px solid #cecece;
      box-shadow: none;
    }
    &:invalid {
      border: 1px solid #ce1e1e;
      box-shadow: 0 0 1px #ce1e1e;
    }
    &:required{
      &:invalid{
        @extend &:empty;
      }
      &:after {
        content: "!";
      }
    }
    &.full-width{
      width: 100%;
    }
  }
  .radio-group{
    float: left;
    width: 220px;

    label{ 
      display: inline;
      float: none;
      width: auto;
    }
  }
  textarea{
    height: 69px; // 3 lines
  }
  
  .error{
    margin-left: 220px;
  }
}

.divider {
  display: block;
  margin: 0 1%;
  overflow: hidden;
  text-align: center;
  white-space: nowrap; 

  & > span {
    position: relative;
    display: inline-block;
  }

  & > span:before,
  & > span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: #999;
  }

  & > span:before {
      right: 100%;
      margin-right: 15px;
  }

  & > span:after {
      left: 100%;
      margin-left: 15px;
  }
} 

[contenteditable]{
  border-bottom: 1px solid #cecece;
  display: inline-block;
  min-height: 1em;
  min-width: 200px;
}