ol{
  &.count{
    counter-reset: li;
  
    li {
      list-style: outside none none;
      margin-left: 30px;
      margin-right: 0;
      margin-top: 5px;
      padding-left: 10px;
      position: relative;

      &:before {
        background-color: #ababab;
        border-radius: 12px;
        box-sizing: border-box;
        color: #fff;
        content: counter(li, decimal);
        counter-increment: li;
        font-size: .8em;
        height: 19px;
        left: -25px;
        padding-top: 0;
        position: absolute;
        text-align: center;
        top: 1px;
        width: 19px;
      }
    }
  }

  &.extended {
    background: #ffffff;
    border: 1px solid #9cacbc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    counter-reset: li;
    list-style: none;
    margin:0;
    font-size: 1em;
    padding-bottom: 0;
  
    &.block-links a {
      display: block;
      font-weight: 600;
      padding: 10px 20px;
      margin: -10px -20px;
    }

    li {
      border-bottom: 1px solid #e5e5e5;
      margin: 0 0 0 30px;
      padding: 8px 14px;
      position: relative;
      
      &.title{

        padding-left: 0;

        &:before {
          content: none;
        }
      }

      &:before {
        content: counter(li);
        /* Use the counter as content */
        counter-increment: li;
        /* Increment the counter by 1 */
        /* Position and style the number */
        position: absolute;
        top: 0;
        left: -30px;
        box-sizing: border-box;
        width: 30px;
        height: 105%;
        border-right: 1px solid #cccccc;
        color: #999999;
        background: #f2f2f2;
        text-align: center;
        font-size: .725em;
        line-height: 37px;
      }
      &:last-child, &.last-child {
        border-bottom: 0;

        &:before,&:before {
          height: 100%;
          border-bottom-left-radius: 5px;
        }
      }

      &.first {
        counter-reset: li;
      }
    }
    
    .right {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    h3 {
      font-size: 2em;
      padding: 5px 0;
      font-weight: 300;
    }
  }
}
