.clearfix{
  &::after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
.relative{
  position: relative;
}
.right{
	float: right;
}

/* BREAKPOINTS */
$bp-phone : 320px;
$bp-small-tablet : 768px;
$bp-tablet : 992px;
$bp-desktop : 1200px;

@mixin phone {
  @media (max-width: #{$bp-phone}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$bp-small-tablet}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$bp-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$bp-desktop}) {
    @content;
  }
}
@mixin print {
  @media print {
    @content;
  }
}