.clearfix{
  &::after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
.relative{
  position: relative;
}
.right{
	float: right;
}