.clearfix{
  &::after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
.relative{
  position: relative;
}
.right{
  float: right;
}

@mixin wrap-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
