body {
    padding-top: 64px;
}
header.navbar {
  background: #4082A0;
  box-shadow: 0 0 3px 2px #999;
  color: #fff;
  position: fixed;
  top: 0;
  transition: all .2s ease;
  width: 100%;
  z-index: 100;

  .title{
    float: left;
    font-size: 1.2em;
    overflow: hidden;
    padding: 0 45px 0 0;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px #888;
    white-space: nowrap;

    a{
      color: #fff;
      text-decoration: none;

      &:hover{
        background-color: inherit;
      }
    }
  }

  &.small nav a{
    font-size: .8em;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  nav{
    display: none;
    color: #fff;
    float: left;
    font-size: 1.1em;
    padding: 10px 25px;
    width: 100%;

    a{
      color: #fff;
      display: block;
      float: left;
      font-size: 1.2em;
      padding: 20px 25px;
      transition: all .2s ease 0s;
      width: 100%;

      &.active{
        background-color: #255977;
        text-decoration: none;
      }
      &:hover{
        background-color: #255977;
        color: #FFF;
        text-decoration: none;
      }
    }
    .right{
      float: none;
    }
  }
  .hamburger .icon{
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    padding: 10px 22px;
    right: 0;
    width: auto;
  }
  #menu-toggle {
    display: none; /* hide the checkbox */
  }
  #menu-toggle:checked + nav{
      display: block;
    }
  .hamburger .icon:hover{
    text-decoration: none;
  }
  
}

@include desktop{
  body {
    padding-top: 94px;
  }
  header.navbar{

    nav{
      display: block;

      a{
        width: auto;
      }

      .right{
        float: right;
      }
        
    }
    .hamburger .icon{
      display: none;
    }
  }
}