/* BREAKPOINTS */
$bp-phone : 320px;
$bp-phone-landscape : 480px;
$bp-small-tablet : 768px;
$bp-small-tablet-landscape : 1024px;
$bp-tablet : 992px;
$bp-desktop : 1200px;

/**
 * Exclusive styles for phone, tablet or desktop
 */
@mixin phone {
  @media (max-width: #{$bp-phone}) {
    @content;
  }
}
@mixin phone-landscape {
  @media (min-width: #{$bp-phone+1px}) and (max-width: #{$bp-phone-landscape}) {
    @content;
  }
}

@mixin small-tablet {
  @media (min-width: #{$bp-phone+1px}) and (max-width: #{$bp-small-tablet}) {
    @content;
  }
}

@mixin small-tablet-landscape {
  @media (min-width: #{$bp-small-tablet+1px}) and (max-width: #{$bp-small-tablet-landscape}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$bp-small-tablet+1px}) and (max-width: #{$bp-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-desktop}) {
    @content;
  }
}


/** 
 * Mobile first. 
 *
 * Create default styling for mobile screen in your regular scss. 
 * Override what you need to when screens get larger.
 */
@mixin min-small-tablet{
  @media (min-width: #{$bp-small-tablet}) {
    @content;
  }
}
@mixin min-tablet{
  @media (min-width: #{$bp-tablet}) {
    @content;
  }
}
@mixin min-desktop{
  @media (min-width: #{$bp-desktop}) {
    @content;
  }
}
@mixin responsive-min($width){
  @media (min-width: $width){
    @content;
  }
}


/** 
 * Desktop first
 *
 * Create default styling for desktop in your regulat scss.
 * Override what you need to as the screen gets smaller
 */
@mixin max-phone{
  @media (max-width: #{$bp-phone}) {
    @content;
  }
}
@mixin max-small-tablet{
  @media (max-width: #{$bp-small-tablet}) {
    @content;
  }
}
@mixin max-tablet{
  @media (max-width: #{$bp-tablet}) {
    @content;
  }
}
@mixin max-desktop{
  @media (max-width: #{$bp-desktop}) {
    @content;
  }
}
@mixin max-responsive($width){
  @media (max-width: $width){
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}