/* BREAKPOINTS */
$bp-phone : 320px;
$bp-phone-landscape : 480px;
$bp-small-tablet : 768px;
$bp-small-tablet-landscape : 1024px;
$bp-tablet : 992px;
$bp-desktop : 1200px;

@mixin phone {
  @media (max-width: #{$bp-phone}) {
    @content;
  }
}
@mixin phone-landscape {
  @media (min-width: #{$bp-phone+1px}) and (max-width: #{$bp-phone-landscape}) {
    @content;
  }
}

@mixin small-tablet {
  @media (min-width: #{$bp-phone+1px}) and (max-width: #{$bp-small-tablet}) {
    @content;
  }
}

@mixin small-tablet-landscape {
  @media (min-width: #{$bp-small-tablet+1px}) and (max-width: #{$bp-small-tablet-landscape}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$bp-small-tablet+1px}) and (max-width: #{$bp-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-desktop}) {
    @content;
  }
}

@mixin responsive($width){
  @media (min-width: $width){
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}