/**
 * Colors
 */
$font-color: #333333;
$font-color-light: #f2f2f2;



/**
 * Buttons
 */
$btn-gray: #eeeeee;
$btn-red: #e74c3c;
$btn-green: #00B16A;
$btn-turquoise: #1abc9c;
$btn-orange: #e67e22;
$btn-purple: #9b59b6;
$btn-blue: #3498db;
$btn-yellow: #E8C53A;

$btn-hover-darken: 10%;