.colorpicker {
  align-items: center;
  background: transparent url(color.png) no-repeat top right;
  color: #fff;
  display: flex;
  flex-direction: row;
  left: 50%;
  position: absolute;
  text-shadow: 1px 1px rgba(0,0,0,.3);
  top: 50%;
  transform: translate(-50%, -50%);
  
  label {
    display: inline-block;
    width: 4em;
  }
  
  input[type=range] {
    width: 12em;
  }

  .preview {
    height: 0;
    margin: 0 1rem;
    padding: 3em;
    width: 0;
  }
  
  .values {
    p {
      margin: .3rem;
      padding: 0;
    }
  }
}
