$width: 60px;
$height: 30px;
$padding: 2px;
$enabled-color: #8CE196;
$disabled-color: #dddddd;
$selector-color: #ffffff;
$animation-speed: .3s;
$flip-animation-speed: $animation-speed;

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;

  & + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: $padding;
    width: $width;
    height: $height;
    transition: background $animation-speed;
  }
}
  

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  background-color: $disabled-color;
  border-radius: $height;

  &:before, &:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }

  &:before {
    right: 1px;
    background-color: $disabled-color;
    border-radius: $height;
    transition: background $animation-speed;
  }
  &:after {
    width: $height - $padding;
    background-color: $selector-color;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin $animation-speed;
  }
}

input.cmn-toggle-round:checked + label {
  background-color: $enabled-color;

  &:before {
    background-color: $enabled-color;
  }
  &:after {
    margin-left: $width - $height;
  }
} 
  

/* ============================================================
  SWITCH 2 - ROUND FLAT
============================================================ */
input.cmn-toggle-round-flat + label {
  background-color: $disabled-color;
  border-radius: $height;

  &:before, &:after {
    display: block;
    position: absolute;
    content: "";
  }
  &:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: $selector-color;
    border-radius: $height;
    transition: background $animation-speed;
  }
  &:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: $height - 8px; /* left + 2 x padding */
    background-color: $disabled-color;
    border-radius: 50%;
    transition: margin $animation-speed, background $animation-speed;
  }
}
  
input.cmn-toggle-round-flat:checked + label {
  background-color: $enabled-color;
  
  &:after {
    margin-left: $width - $height;
    background-color: $enabled-color;
  }
}
  

/* ============================================================
  SWITCH 3 - YES NO
============================================================ */
input.cmn-toggle-yes-no + label{

  &:before, &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: $selector-color;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    text-align: center;
    line-height: $height;
  }
  &:before {
    background-color: $disabled-color;
    content: attr(data-off);
    transition: transform $flip-animation-speed;
    backface-visibility: hidden;
  }
  &:after {
    background-color: $enabled-color;
    content: attr(data-on);
    transition: transform $flip-animation-speed;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
}

input.cmn-toggle-yes-no:checked + label{

  &:before {
    transform: rotateY(180deg);
  }
  &:after {
    transform: rotateY(0);
  }
  
}
  
