
<section class="home">
  <h1 class="title"> Game of colors </h1>

  <h2 class="subtitle">How fast can you guess the color?</h2>

  <div class="buttons">
    <a class="btn-white btn-large btn-ghost" ui-sref="game({level: 'easy'})"">easy</a>
    <a class="btn-white btn-large btn-ghost" ui-sref="game({level: 'medium'})"">medium</a>
    <a class="btn-white btn-large btn-ghost" ui-sref="game({level: 'hard'})"">hard</a>
    <a class="btn-white btn-large btn-ghost" ui-sref="game({level: 'impossible'})"">impossible</a>
  </div>
</section>
